<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/302ce46b-dda9-440c-aec6-303059ad46ab/resourceGroups/Spotter-Core/providers/Microsoft.Web/sites/Spotter-Azure20210220175723</ResourceId>
    <ResourceGroup>Spotter-Core</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spotter-azure20210220175723.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://spotter-azure20210220175723.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c81b2364-0321-4e0e-93c6-10aaf9f7ed3e</ProjectGuid>
    <MSDeployServiceURL>waws-prod-ln1-053.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Spotter-Azure20210220175723</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Spotter-Azure20210220175723</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>