@{
    ViewData["Title"] = "Spotter";
    ViewData["Desc"] = "Tools to improve your Spotify experience";
}

<div class="grid" style="margin: 1rem;">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">Kick Out Songs</h4>
                    <p class="card-text">Songs that you skip frequently will be removed from your likes (if liked). These songs are added to a Kicked Out @(DateTime.Now.Year) playlist.</p>
                    <p class="card-text">You can configure the requirements for a song to be kicked out:</p>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action">Number of Skips</a>
                        <a class="list-group-item list-group-item-action">Skip Expiry</a>
                        <a class="list-group-item list-group-item-action">Ignore if in Playlist</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">Song Insights</h4>
                    <p class="card-text">View heuristics of you listening habits and receive suggestions of similar songs you may like.</p>
                    <iframe src="https://open.spotify.com/embed/track/5fpizYGbi5IQoEraj6FP0R" width="100%" height="90" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">Info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>