
@{
    ViewData["Title"] = "Log";
    ViewData["Desc"] = "View event logs of the application";

    
}

<div class="card border-primary">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">State</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (LogEntry logEntry in Log._history)
            {
                <tr class="@(Log.GetRowColor(logEntry)) ">
                        <th scope="row">@logEntry.error</th>
                        <td>@logEntry.message</td>
                    </tr>
            }
        }
        </tbody>
        </table>
</div>
