<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4bd328df-c236-4320-960b-84b6884ac7fa/resourcegroups/Spotter-Docker20210215163936ResourceGroup/providers/Microsoft.Web/sites/Spotter-Azure20210215171759</ResourceId>
    <ResourceGroup>Spotter-Docker20210215163936ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://spotter-azure20210215171759.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://spotter-azure20210215171759.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>c81b2364-0321-4e0e-93c6-10aaf9f7ed3e</ProjectGuid>
    <MSDeployServiceURL>waws-prod-ln1-045.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Spotter-Azure20210215171759</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Spotter-Azure20210215171759</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
  </PropertyGroup>
</Project>